attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.0
blinker==1.4
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptocompare==0.7.1
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
DateTime==4.3
demjson==2.2.4
EasyProcess==0.3
edgar==5.1.16
falcon==2.0.0
feedfinder2==0.0.4
feedparser==5.2.1
filelock==3.0.12
flacon==0.5.0
Flask==1.1.2
future==0.18.2
get==2019.4.13
gunicorn==20.0.4
html2text==2020.1.16
httpie==2.1.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
investpy==0.9.14
itsdangerous==1.1.0
jieba3k==0.35.1
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
lxml==4.5.1
MarkupSafe==1.1.1
matplotlib==3.2.1
msgpack-python==0.5.6
multitasking==0.0.9
newspaper3k==0.2.8
nltk==3.5
numpy==1.18.4
packaging==20.4
pandas==1.0.4
pandas-datareader==0.8.1
parsel==1.6.0
Pillow==7.1.2
pinance==1.0
post==2019.4.13
prometheus-client==0.7.1
prometheus-flask-exporter==0.13.0
Protego==0.1.16
public==2019.4.13
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycurl==7.43.0.5
PyDispatcher==2.0.5
Pygments==2.6.1
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyVirtualDisplay==0.2.5
PyYAML==5.3.1
query-string==2019.4.13
queuelib==1.5.0
raven==6.10.0
regex==2020.6.8
request==2019.4.13
requests==2.23.0
requests-file==1.5.1
sacremoses==0.0.43
scikit-learn==0.23.1
scipy==1.4.1
Scrapy==2.1.0
seaborn==0.10.1
selenium==3.141.0
sentencepiece==0.1.91
service-identity==18.1.0
simplejson==3.17.0
six==1.15.0
sklearn==0.0
soupsieve==2.0
threadpoolctl==2.1.0
tinysegmenter==0.3
tldextract==2.2.2
tokenizers==0.7.0
torch==1.5.1
tqdm==4.46.1
transformers==2.11.0
Twisted==20.3.0
Unidecode==1.1.1
urllib3==1.25.9
urlopen==1.0.0
uuid==1.30
w3lib==1.22.0
waitress==1.4.3
Werkzeug==1.0.1
wikipedia==1.4.0
wptools==0.4.17
yfinance==0.1.54
zope.interface==5.1.0
